Tvl.VisualStudio.Language.Java/Service References/JvmEventsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost" minOccurs="0" name="eventType" type="q1:JvmEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost" minOccurs="0" name="eventType" type="q2:JvmEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSingleStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q3:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q4:JvmThreadRemoteHandle" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="location" type="q5:JvmRemoteLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSingleStepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVMStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q6:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVMStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVMInitialization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q7:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q8:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVMInitializationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVMDeath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q9:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleVMDeathResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleThreadStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q10:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q11:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleThreadStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleThreadEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q12:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q13:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleThreadEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleClassLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q14:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q15:JvmThreadRemoteHandle" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q16:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleClassLoadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleClassPrepare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q17:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q18:JvmThreadRemoteHandle" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q19:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleClassPrepareResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>