Tvl.VisualStudio.Language.Java/Service References/JvmEventsService/Tvl.Java.DebugHost.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="JvmVirtualMachineRemoteHandle">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Handle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JvmVirtualMachineRemoteHandle" nillable="true" type="tns:JvmVirtualMachineRemoteHandle" />
  <xs:complexType name="JvmThreadRemoteHandle">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Handle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JvmThreadRemoteHandle" nillable="true" type="tns:JvmThreadRemoteHandle" />
  <xs:complexType name="JvmRemoteLocation">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" type="xs:long" />
      <xs:element minOccurs="0" name="Method" type="tns:JvmMethodRemoteHandle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JvmRemoteLocation" nillable="true" type="tns:JvmRemoteLocation" />
  <xs:complexType name="JvmMethodRemoteHandle">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Handle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JvmMethodRemoteHandle" nillable="true" type="tns:JvmMethodRemoteHandle" />
  <xs:complexType name="JvmClassRemoteHandle">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Handle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JvmClassRemoteHandle" nillable="true" type="tns:JvmClassRemoteHandle" />
</xs:schema>