Tvl.VisualStudio.Language.Java/Service References/JvmToolsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SetLocalInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q1:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q2:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetLocalIntResult" type="q3:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalLong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q4:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q5:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalLongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetLocalLongResult" type="q6:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalFloat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q7:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q8:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalFloatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetLocalFloatResult" type="q9:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q10:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q11:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetLocalDoubleResult" type="q12:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBreakpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q13:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="location" type="q14:JvmRemoteLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBreakpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetBreakpointResult" type="q15:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearBreakpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q16:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="location" type="q17:JvmRemoteLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearBreakpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ClearBreakpointResult" type="q18:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFieldAccessWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q19:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="field" type="q20:JvmFieldRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFieldAccessWatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetFieldAccessWatchResult" type="q21:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearFieldAccessWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q22:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="field" type="q23:JvmFieldRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearFieldAccessWatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ClearFieldAccessWatchResult" type="q24:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFieldModificationWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q25:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="field" type="q26:JvmFieldRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFieldModificationWatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetFieldModificationWatchResult" type="q27:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearFieldModificationWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q28:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="field" type="q29:JvmFieldRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearFieldModificationWatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ClearFieldModificationWatchResult" type="q30:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadedClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q31:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadedClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLoadedClassesResult" type="q32:jvmtiError" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="classes" nillable="true" type="q33:ArrayOfJvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassLoaderClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q34:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="initiatingLoader" type="q35:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassLoaderClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassLoaderClassesResult" type="q36:jvmtiError" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="classes" nillable="true" type="q37:ArrayOfJvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q38:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q39:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassSignatureResult" type="q40:jvmtiError" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="generic" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q41:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q42:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassStatusResult" type="q43:jvmtiError" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="status" type="q44:jvmtiClassStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q45:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q46:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetSourceFileNameResult" type="q47:jvmtiError" />
        <xs:element minOccurs="0" name="sourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassModifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q48:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q49:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassModifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassModifiersResult" type="q50:jvmtiError" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost" minOccurs="0" name="modifiers" type="q51:JvmAccessModifiers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q52:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q53:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassMethodsResult" type="q54:jvmtiError" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="methods" nillable="true" type="q55:ArrayOfJvmMethodRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q56:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q57:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassFieldsResult" type="q58:jvmtiError" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="fields" nillable="true" type="q59:ArrayOfJvmFieldRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImplementedInterfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q60:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q61:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImplementedInterfacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetImplementedInterfacesResult" type="q62:jvmtiError" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="interfaces" nillable="true" type="q63:ArrayOfJvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassVersionNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q64:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q65:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassVersionNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassVersionNumbersResult" type="q66:jvmtiError" />
        <xs:element minOccurs="0" name="minorVersion" type="xs:int" />
        <xs:element minOccurs="0" name="majorVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstantPool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q67:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q68:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstantPoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetConstantPoolResult" type="q69:jvmtiError" />
        <xs:element minOccurs="0" name="constantPool" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q70:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q71:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="IsInterfaceResult" type="q72:jvmtiError" />
        <xs:element minOccurs="0" name="isInterface" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArrayClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q73:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q74:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsArrayClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="IsArrayClassResult" type="q75:jvmtiError" />
        <xs:element minOccurs="0" name="isArrayClass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsModifiableClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q76:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q77:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsModifiableClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="IsModifiableClassResult" type="q78:jvmtiError" />
        <xs:element minOccurs="0" name="isModifiableClass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassLoader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q79:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q80:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassLoaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetClassLoaderResult" type="q81:jvmtiError" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="classLoader" type="q82:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDebugExtension">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q83:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="class" type="q84:JvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDebugExtensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetSourceDebugExtensionResult" type="q85:jvmtiError" />
        <xs:element minOccurs="0" name="sourceDebugExtension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetransformClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q86:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="classes" nillable="true" type="q87:ArrayOfJvmClassRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetransformClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="RetransformClassesResult" type="q88:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q89:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="object" type="q90:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetObjectSizeResult" type="q91:jvmtiError" />
        <xs:element minOccurs="0" name="size" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectHashCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q92:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="object" type="q93:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectHashCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetObjectHashCodeResult" type="q94:jvmtiError" />
        <xs:element minOccurs="0" name="hashCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Allocate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q95:JvmVirtualMachineRemoteHandle" />
        <xs:element minOccurs="0" name="size" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="AllocateResult" type="q96:jvmtiError" />
        <xs:element minOccurs="0" name="address" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deallocate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q97:JvmVirtualMachineRemoteHandle" />
        <xs:element minOccurs="0" name="address" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeallocateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="DeallocateResult" type="q98:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q99:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q100:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetThreadStateResult" type="q101:jvmtiError" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="threadState" type="q102:jvmtiThreadState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q103:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetCurrentThreadResult" type="q104:jvmtiError" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q105:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllThreads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q106:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllThreadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetAllThreadsResult" type="q107:jvmtiError" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="threads" nillable="true" type="q108:ArrayOfJvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q109:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q110:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SuspendThreadResult" type="q111:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendThreads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q112:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="threads" nillable="true" type="q113:ArrayOfJvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendThreadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SuspendThreadsResult" type="q114:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q115:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q116:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ResumeThreadResult" type="q117:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeThreads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q118:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="threads" type="q119:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeThreadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ResumeThreadsResult" type="q120:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q121:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q122:JvmThreadRemoteHandle" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="exception" type="q123:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="StopThreadResult" type="q124:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterruptThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q125:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q126:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterruptThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="InterruptThreadResult" type="q127:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q128:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q129:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetThreadInfoResult" type="q130:jvmtiError" />
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="info" type="q131:JvmThreadRemoteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnedMonitorInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q132:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q133:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnedMonitorInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetOwnedMonitorInfoResult" type="q134:jvmtiError" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="ownedMonitors" nillable="true" type="q135:ArrayOfJvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentContendedMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q136:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q137:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentContendedMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetCurrentContendedMonitorResult" type="q138:jvmtiError" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="monitor" type="q139:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThreadLocalStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q140:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q141:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="data" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThreadLocalStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetThreadLocalStorageResult" type="q142:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadLocalStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q143:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q144:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadLocalStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetThreadLocalStorageResult" type="q145:jvmtiError" />
        <xs:element minOccurs="0" name="data" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopThreadGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q146:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopThreadGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetTopThreadGroupsResult" type="q147:jvmtiError" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="groups" nillable="true" type="q148:ArrayOfJvmThreadGroupRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadGroupChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q149:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="group" type="q150:JvmThreadGroupRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadGroupChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetThreadGroupChildrenResult" type="q151:jvmtiError" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="threads" nillable="true" type="q152:ArrayOfJvmThreadRemoteHandle" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="groups" nillable="true" type="q153:ArrayOfJvmThreadGroupRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStackTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q154:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q155:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="startDepth" type="xs:int" />
        <xs:element minOccurs="0" name="maxFrameCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStackTraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetStackTraceResult" type="q156:jvmtiError" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="frames" nillable="true" type="q157:ArrayOfJvmRemoteLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStackTraces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q158:JvmVirtualMachineRemoteHandle" />
        <xs:element minOccurs="0" name="maxFrameCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStackTracesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetAllStackTracesResult" type="q159:jvmtiError" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="stackTraces" nillable="true" type="q160:ArrayOfJvmRemoteStackInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadListStackTraces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q161:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="threads" nillable="true" type="q162:ArrayOfJvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="maxFrameCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadListStackTracesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetThreadListStackTracesResult" type="q163:jvmtiError" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="stackTraces" nillable="true" type="q164:ArrayOfJvmRemoteStackInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q165:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q166:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetFrameCountResult" type="q167:jvmtiError" />
        <xs:element minOccurs="0" name="frameCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q168:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q169:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="PopFrameResult" type="q170:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q171:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q172:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetFrameLocationResult" type="q173:jvmtiError" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="location" type="q174:JvmRemoteLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFramePop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q175:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q176:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFramePopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="NotifyFramePopResult" type="q177:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q178:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q179:JvmThreadRemoteHandle" />
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="value" type="q180:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceEarlyReturnObjectResult" type="q181:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q182:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q183:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceEarlyReturnIntResult" type="q184:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnLong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q185:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q186:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="value" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnLongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceEarlyReturnLongResult" type="q187:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnFloat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q188:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q189:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnFloatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceEarlyReturnFloatResult" type="q190:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q191:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q192:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceEarlyReturnDoubleResult" type="q193:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnVoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q194:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q195:JvmThreadRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceEarlyReturnVoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceEarlyReturnVoidResult" type="q196:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q197:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="object" type="q198:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetTagResult" type="q199:jvmtiError" />
        <xs:element minOccurs="0" name="tag" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q200:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="object" type="q201:JvmObjectRemoteHandle" />
        <xs:element minOccurs="0" name="tag" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetTagResult" type="q202:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectsWithTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q203:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q204="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tagFilter" nillable="true" type="q204:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectsWithTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetObjectsWithTagsResult" type="q205:jvmtiError" />
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="objects" nillable="true" type="q206:ArrayOfJvmObjectRemoteHandle" />
        <xs:element xmlns:q207="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q207:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceGarbageCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q208:JvmVirtualMachineRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceGarbageCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="ForceGarbageCollectionResult" type="q209:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q210:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q211:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLocalObjectResult" type="q212:jvmtiError" />
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="value" type="q213:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q214:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q215:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLocalInstanceResult" type="q216:jvmtiError" />
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="value" type="q217:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q218:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q219:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLocalIntResult" type="q220:jvmtiError" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalLong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q221="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q221:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q222:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalLongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q223="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLocalLongResult" type="q223:jvmtiError" />
        <xs:element minOccurs="0" name="value" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalFloat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q224="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q224:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q225="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q225:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalFloatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q226="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLocalFloatResult" type="q226:jvmtiError" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalDouble">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q227="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q227:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q228="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q228:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalDoubleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q229="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="GetLocalDoubleResult" type="q229:jvmtiError" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q230="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="virtualMachine" type="q230:JvmVirtualMachineRemoteHandle" />
        <xs:element xmlns:q231="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="thread" type="q231:JvmThreadRemoteHandle" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="slot" type="xs:int" />
        <xs:element xmlns:q232="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Services" minOccurs="0" name="value" type="q232:JvmObjectRemoteHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q233="http://schemas.datacontract.org/2004/07/Tvl.Java.DebugHost.Interop" minOccurs="0" name="SetLocalObjectResult" type="q233:jvmtiError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>